
/* ==================================================
 html body & header
================================================== */
body, html {
    background: #ecf1f4;
    padding-top: 10px;
}

h1 {
    font-family: Roboto;
    /* color: #fff; */
    margin-top:15px;
    font-weight:200;
    text-align: center;
    text-decoration: none;
    /* display: inline-flex;
    align-items: center;
    justify-content: center; */
}

/* ==================================================
/ table
================================================== */
th {
    padding: 10px;
    background: #778ca3;
    border: solid 1px #666666;
    color: #ffffff;
}
td {
    padding: 10px;
    border: solid 1px #666666;
}
td:first-child {
    background: #e9faf9;
   
}

/* ==================================================
/ list
================================================== */
.list-title {
    /* background-color: #778ca3; */
    /* border: solid 1px #666666; */
    color: black;
    padding: 10px;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

.favorite-list {
    list-style-type: none;
    padding: 0 0.5em;
    margin: 0;
    /* border: 2px solid #2589d0; */
}

.favorite-list li {
    font-size: 1.5em;
    padding: .1em;
    /* transition: white 0.3s ease; */
}

.favorite-list li:not(:last-child) {
    border-bottom: 1.5px dashed #000;
}

/* .favorite-list li:hover {
    background-color: #f1f1f1;
} */
/* 
.favorite-list li::marker {
    color: #2589d0;
    font-size: 1.1em;
} */




/* ==================================================
/ button
================================================== */

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.favorite-container {
    text-align: center;
}

.favorite-star {
    font-size: 1.2em;
    cursor: pointer;
    color: #cccccc;
    transition: color 0.3s ease, transform 0.2s ease;
}

.favorite-star.is_favorite {
    color: #ffd700;
}

.favorite-star:hover {
    transform: scale(1.1);
}

/* ==================================================
/ flex container
================================================== */

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1px;
}

.container {
    display: flex;
}

.box {
    margin: 5px;  /* 子要素の間隔 */
}

/* ==================================================
 chart js
================================================== */
.stock-price-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mychart {
    max-width: 1600px;
    max-height: 400px;
    /* margin: 0 auto; */
    /* border: 1px solid #ccc; */
}

.macd-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#macd-chart {
    max-width: 1600px;
    max-height: 200px;
    /* margin: 0 auto; */
    /* align-items: center; */
    /* border: 1px solid #ccc; */
}